CONFIG_HAWKBIT_SERVER_PATH="128.199.236.110:80"
CONFIG_CONTROLLER_ID="Remote_well"
CONFIG_SECURITY_TOKEN_TYPE="TargetToken"
CONFIG_SECURITY_TOKEN="5ec7a109186878a23d74d026f1631733"
CONFIG_ HAWKBIT_TENANTS="DEFAULT"

